<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
</head>
<style>
    .right{
        text-align: right;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<body>
    <div class="container" class="background-color">
        <div class="jumbotron text-center mdb-color lighten-2 white-text mx-2 mb-5" class="indigo-text my-4 font-weight-bold"><h2>Admin Login</h2></div>
        
    </div>
    
    <div>
        <div class="container mt-4" class="border border-primary">
            <form action='/admin' method="post">
              <div class="form-group">
                
                <label for="inputBox"><h4>Username</h4></label>
                <input type="text" class="form-control" id="inputBox" placeholder="username" name="username">
                <label><h4>Password</h4></label>
                <input type="password" class="form-control" id="inputBox" placeholder="password" name="password">
                <br>
                
                
                
              
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
              
            </form>
          </div><br><br><br><br><br><br><br>
          
        


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>