<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>editshow</title>
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
  #right{
    text-align: right;
  }
  #left{
    text-align: left;
  }
</style>


<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            </div>
        </nav>

    </div><br><br>
    
    

  <div class="container mt-4" class="border border-primary">
    <form action='/update/{{id}}/{{venuename}}' method="post">
      <div class="form-group">
        
        <label for="show"><h4>Show</h4></label>
        <input type="text" class="form-control" id="show" name="show" value="{{k.show_name}}">
        <label for="rating"><h4>Rating</h4></label>
        <input type="number" class="form-control" id="rating" name="rating" value="{{k.rating}}">
        <label for="tags"><h4>Tags</h4></label>
        <input type="text" class="form-control" id="tags" name="tags" value="{{k.tags}}">
        <label for="ticket"><h4>Ticket price</h4></label>
        <input type="number" class="form-control" id="ticket" name="ticketprice" value="{{k.ticket_price}}">
        <label for="Timing"><h4>Timing</h4></label>
        <input type="text" class="form-control" id="Timing" name="timing" value="{{k.timing}}">
        
        
        
        
      
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>

  <!-- Link to Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
